.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(165, 165, 165);
  margin: 0;
  padding: 0;
}

.main{
  background-color: red;
  height: 30%;
  margin: 0;
}

.topDiv{
  background-color: red;
  height: 20vh;
  margin: 0;
  display: grid;
  justify-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
.midDiv{
  background-color: rgb(0, 0, 0);
  height: 60vh;
  margin: 0;
  display: grid;
  justify-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
.botDiv{
  background-color: rgb(47, 0, 255);
  height: 20vh;
  margin: 0;
  display: grid;
  justify-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.minusSpeed{
  background-image: url("../public/Minus.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 10px;
  width: 100%;
  height: 20vh;
  grid-column: 1;
}

.Speed{
  background-size: 20vh;
  background-position: 20%;
  background-position-x: center;
  height: 30vh;
  width: 30vh;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 80px;
  grid-column: 2;
  z-index: 10;
}
.plusSpeed{
  background-image: url("../public/Plus.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 10px;
  width: 100%;
  margin: 10px;
  height: 20vh;
  grid-column: 3;
}

.minusDMG{
  background-image: url("../public/Minus.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 10px;
  width: 100%;
  height: 20vh;
  grid-column: 1;
}

.DMG{
  background-image: url("../public/DMG.png");
  background-size: 30vh;
  height: 30vh;
  width: 30vh;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 80px;
}

.dmgNum{
  height: max-content;
  margin-top: 25%;
  text-align: center;
  padding-left: 30px;
  user-select: none;
}

.plusDMG{
  background-image: url("../public/Plus.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 10px;
  width: 100%;
  height: 20vh;
  grid-column: 3;
}

.speedNum{
  height: auto;
  margin-top: 0%;
  margin-bottom: 50%;
  margin-left: 10%;
  text-align: center;
  user-select: none;
  position: absolute;
  left: 35%;
  top: 25%;
}

.remHP{
  background-image: url("../public/Minus.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 10px;
  width: 100%;
  height: 15vh;
  grid-column: 1;
  grid-row: 1;
}

.HP{
  background-color: aliceblue;
  border-radius: 50px;
  margin: 10px;
  width: 50%;
  height: 15vh;
  grid-column: 2;
  grid-row: 1;
  font-size: 100px;
  text-align: center;
  user-select: none;
}

.addHP{
  background-image: url("../public/Plus.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 10px;
  width: 100%;
  height: 15vh;
  grid-column: 3;
  grid-row: 1;
}
